<footer>
  <small>
    © 2022 Adam Foxman. All rights reserved.
  </small>
  <br>
  <small>
    Powered by <a href="https://www.11ty.dev" target="_blank">Eleventy</a> &amp;
    <a href="https://github.com/danurbanowicz/eleventy-netlify-boilerplate" target="_blank">Eleventy Netlify Boilerplate</a>,
    hosted on <a href="{{ pkg.repository.url }}" target="_blank">GitHub</a>,
    deployed with <a href="https://www.netlify.com" target="_blank">Netlify</a>.
  </small>
</footer>
